@charset'UTF-8';

/* ----- HTML tag ----- */
body {
    background-color:#ffffff;
    color:#000000;
}

h1, h2, h3, h4, h5, h6 {
    color: #0E907E
}

a:visited , a:link , a:active {
    color:#032B46;
}

a:hover {
    color:#A5CBE4;
    background-color:#166293;
}
/* ----- /HTML tag ----- */

#Container {
}

/* ----- HeadColumn ----- */
#HeadColumn {
    background-color:#6BB4E4;
}


/* ----- Main Menu ----- */

#NaviMenu {
    background-color:    #A5CBE4;
}
#NaviMenu li {
}
#NaviMenu a:visited , #NaviMenu a:link {
    color:    #032B46;
}
#NaviMenu a:hover, #NaviMenu a:active {
    color:    #A5CBE4;
    background-color:    #032B46;
}

/* ----- Sub Menu ----- */

#SubMenu {
    background-color:    #032B46;
}
#SubMenu li {
}
#SubMenu a:visited , #SubMenu a:link {
    color:    #A5CBE4;
}
#SubMenu a:hover, #SubMenu a:active {
    color:    #A5CBE4
    background-color:    #A5CBE4;
}

/* ----- Block default ----- */
dt.blockTitle {
    color: #041949;
    background-color: #eeeeee;
    border-left-color: #AABCE6;
}

/* ----- LeftSide ----- */
#LeftSide {
    background-color:#;
}
#LeftSide dt.blockTitle {
    background-color:inherit;
    color: #041949;
    background-color: #eeeeee;
    border-left-color: #AABCE6;
}
#LeftSide dd.blockContent {
    background-color:inherit;
}

/* ----- RightSide ----- */
#RightSide {
    background-color:#;
}
#RightSide dt.blockTitle {
    color: #041949;
    background-color: #eeeeee;
    border-left-color: #AABCE6;
}

#Footer {
    background-color:#AABCE6;
    color:#041949;
}
#Footer a{
    color: #1E439A;
}

/* ----- for common CSS ----- */

.outer     {
    border: 1px solid #041949;
}

th {
    background-color: #dddddd;
    color:#041949;
}
.head {
    background-color: #eeeeee;
}
.even {
    background-color: #eeeeee;
}
.odd {
    background-color: #ffffff;
}
.foot {
    background-color: #7295E6;
}

tr.head td {
    background-color: #ffffff;
}
tr.even td {
    background-color: #eeeeee;
}
tr.odd td {
    background-color: #ffffff;
}

div.errorMsg {
    background-color: #0E907E;
    color: #ffffff;
    border: 1px solid #DDDDFF;
}
div.confirmMsg {
    background-color: #A1E3DA;
    color: #02443B;
    border: 1px solid #DDDDFF;
}
div.resultMsg {
    background-color : #A1E3DA;
    color: #02443B;
    border: 1px solid #666666;
}
div.xoopsCode {
    background: #ffffff;
    color: #1E439A;
    border: 1px inset #000080;
}
div.xoopsQuote {
    background: #ffffff;
    color: #041949;
    border: 1px inset #000080;
}

.comUserStat {
    color: #0E907E;
}
.comUserStatus {
    color: #0E907E;
}
/* ----- for module CSS ----- */

/*  for news & xf-section  */
.itemHead{
    background-color: #AABCE6;
    color: #041949;
}
.itemInfo{
    color:#1E439A;
}

.itemTitle {
    color: #ffcccc;
    background-color: transparent;
}
.itemTitle a {
    color: #1E439A;
    background-color: transparent;
}
.pagenavi a {
    border:1px solid #1E439A;
    background-color:#AABCE6;
    color:#041949;
}
.pagenavi b {
    border:1px solid #ffffff;
    background-color:#ffffff;
    color:#1E439A;
}
